.mainContent {
  padding: 40px;
  // background-color: #a200ff48;
  // border-radius: 20px;

  .sectionTitle {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
  }

  .bannerSection {
    .carouselItem img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .offersSection, .newArrivalsSection {
    margin-top: 40px;

    .offersGrid, .productsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }

    .offerItem, .productItem {
      background-color: #9900ffb0;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      color: #ffffff;

      .offerImage, .productImage {
        max-width: 80%;
        height: auto;
        margin-bottom: 15px;
        border-radius: 8px;
      }

      .offerTitle, .productTitle {
        font-size: 1.5rem;
        color: #ffffff;
        margin-bottom: 10px;
      }

      .offerDescription, .productDescription {
        font-size: 1rem;
        color: #ffffff;
      }
    }
  }

  .subscriptionSection {
    margin-top: 60px;
    text-align: center;

    .subscribeButton {
      font-size: 1.2rem;
      color: #fff;
      background-color: #964bc5;
      padding: 10px 30px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
